# Dependencies
node_modules
# Production
build
dist
# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Generated
package-lock.*
# Resources
*.psd
*/banner.png
*/favicon.ico